*{
    font-family: 'Lato', sans-serif;
}

.bg-primary-color {
   background-color: #fff;
}

.bg-primary-color {
    background-color: #ECE8EA;
}

.bg-dark-color {
    background-color: #050505;
}

.primary-color{
    color: #050505
}
.primary-color{
    color: #7A7A7A;
}

/*NAVBAR*/

#navbar{
    border-bottom: ;
}



/*
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


#menu-h {
    background-color: rgb(37, 37, 39);   
    display: flex;
}

#menu-h ul{
    max-width: 800px;
    list-style: none;
    padding: 0;    
}

#menu-h ul li {
    display: inline;  
}

#menu-h ul li a{
    color: #FFFFFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;   
    transition: background .5s;     
}

#menu-h ul li a:hover{
    color: rgb(212, 255, 252);
    background-color: rgb(90, 90, 90);
}

.logo {
   display: block;
   float: left;
}


*/